<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>To-Do app</title>
<link rel="stylesheet" type="text/css" href="/css/normalize.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/styles.css">     
</head>
<body>
  <div class="container-layout">
    <nav id="todo">TO-DO <img id="checkmark" src="/images/checkmark.png"/>
        <ul class="header">
          {{#if user}}
     		   <li role="presentation"><a href="/users/logout">Logout</a></li>
     		     {{else}}
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation"><a href="/users/register">Register</a></li>
            <li role="presentation"><a href="/users/login">Login</a></li>
            <li role="presentation"><a href="/users/logout">Logout</a></li> 
            {{/if}}
        </ul>
    </nav>
      <div class="video-wrapper">
      <video id="video" autoplay loop src="http://cdn.calm.com/scenes/scene-WdVY0QGD4.mp4?v=1450780565679"></video></div>
         <div class="container-body">{{{body}}}</div>
        <footer class="footer">
        </footer>
    </div> <!-- /container-layout ends -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>