            <ul class="header">
                <li role="presentation">
                    <a href="/">Home</a>
                </li>
                <li role="presentation">
                    <a href="/users/register">Register</a>
                </li>
            </ul>


<h2 class="page-header">Log in to view your list</h2>
<form method="post" action="/users/login">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" name="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label>Password or is it</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default">Login</button>
</form>