    <div class="main-todo">
        <h1>To do app</h1>
            <input class="list-input" placeholder="Type to-do..." type="text"> 
            <button class="add">Add Item</button>
        <ul class="list"></ul>
    </div>