<ul class="header">
    <li role="presentation">
        <a href="/">Home</a>
    </li>
    <li role="presentation">
        <a href="/users/logout">Logout</a>
    </li>
</ul>

<div class="main-todo">
    <input class="list-todo" placeholder="+     Add a to-do..." type="text">
    <!--  <button class="add">Add Item</button> -->
    <ul class="todo-items"></ul>
</div>