    <div class="main-todo">
            <input class="list-todo" placeholder="+     Add a to-do..." type="text"> 
           <!--  <button class="add">Add Item</button> -->
        <ul class="todo-items"></ul>
    </div>
